---
import { Icon } from "astro-icon/components";
import Layout from "../layout.astro";
import GlobalCard from "../components/global-event-card.astro";

// Importing data
import regionalEventsData from "../data/regional-events.json";
import closingEventsData from "../data/closing-events.json";
import EventCard from "../components/event-card.astro";
import SubscribeCard from "../components/subscribe-card.astro";

const hosts = [
  { logo: "/hosts/accenture.svg", name: "Accenture" },
  { logo: "/hosts/bcg.svg", name: "BCG X" },
  { logo: "/hosts/ubs.svg", name: "UBS" },
  { logo: "/hosts/ntt-data.svg", name: "NTT Data" },
  { logo: "/hosts/microsoft.svg", name: "Microsoft" },
  { logo: "/hosts/intel.svg", name: "Intel" },
  { logo: "/hosts/thoughtworks.svg", name: "Thoughtworks" },
  { logo: "/hosts/mastercard.svg", name: "Mastercard" },
  { logo: "/hosts/cast.svg", name: "CAST" },
  { logo: "/hosts/iim-mumbai.png", name: "IIM Mumbai", class: "w-24" },
  { logo: "/hosts/imda.svg", name: "IMDA" },
  { logo: "/hosts/globant.svg", name: "Globant" },
];
---

<Layout>
  <section class="py-12 md:py-16">
    <div
      class="grid grid-cols-1 gap-x-20 gap-y-12 md:gap-y-16 lg:grid-cols-2 lg:items-center"
    >
      <div>
        <h1
          class="mb-2 text-xl md:text-3xl font-bold md:mb-6 text-secondary-lightest"
        >
          Join the Green Software Foundation <span
            class="text-secondary-default"
          >
            Global Summit 2024!</span
          >
        </h1>
        <p class="md:text-md text-primary-light">
          a series of in-person events held from <strong>
            October 1-10 2024</strong
          >, organised by GSF members in partnership with the GSF to captivate,
          motivate, and foster connections among software practitioners and key
          stakeholders. This global summit celebrates sustainable software
          development, maintenance, and improvement.
        </p>
        <div class="mt-6 flex gap-x-4 md:mt-8">
          <a href="#events" class="flex gap-2 text-secondary-default"
            >Discover regional events
            <Icon class="w-6 h-auto" name="lucide:arrow-down" />
          </a>
        </div>
      </div>
      <div>
        <img
          src="/images/hero-image.svg"
          class="w-full object-cover"
          alt="Placeholder image"
        />
      </div>
    </div>
  </section>
  <section class="py-12 md:py-16" id="events">
    <div class="mb-8">
      <h1
        class="text-secondary-default text-xl md:text-3xl font-extrabold mb-2"
      >
        Regional{" "}
        <span class="text-secondary-lightest font-extrabold"> Events </span>
      </h1>
      <p class="md:text-md text-primary-light">
        Find an event in your city below and be part of this global movement
        towards greener software!
      </p>
    </div>
    {/* Card component */}
    <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
      {
        regionalEventsData
          .sort(
            (a, b) => new Date(a.date).getTime() - new Date(b.date).getTime()
          )
          .map((item) => (
            <a href={item.eventLink} target="_blank" rel="noreferrer">
              <EventCard
                address={item.address}
                country={item.country}
                countryCode={item.countryCode}
                date={item.date}
                time={item.time}
                organizers={item.organizers}
              />
            </a>
          ))
      }
    </div>
  </section>
  <section class="py-12 md:py-16 flex flex-col gap-8">
    <div
      class="grid grid-cols-1 gap-y-12 md:grid-cols-2 md:gap-x-12 lg:gap-x-20 items-center"
    >
      <div class="order-2 md:order-2">
        <h2
          class="mb-2 text-xl md:text-3xl font-bold md:mb-6 text-secondary-lightest"
        >
          Sustainable Software <span class="text-secondary-default"
            >Expertise and Skills</span
          >
        </h2>
        <p class="text-primary-light">
          Gain valuable insights from experts in the field of sustainable
          software, develop new skills through workshops and training sessions,
          and connect with passionate members of the green software community.
        </p>
      </div>
      <div class="flex items-center justify-center order-1 md:order-2">
        <img
          src="/images/info-section-illustration-1.svg"
          class="w-full object-cover max-w-xs"
          alt="Placeholder image"
        />
      </div>
    </div>
    <div
      class="grid grid-cols-1 gap-y-12 md:grid-cols-2 md:gap-x-12 lg:gap-x-20 items-center"
    >
      <div class="flex items-center justify-center">
        <img
          src="/images/info-section-illustration-2.svg"
          class="w-full object-cover max-w-xs"
          alt="Placeholder image"
        />
      </div>
      <div>
        <h2
          class="mb-2 text-xl md:text-3xl font-bold md:mb-6 text-secondary-lightest"
        >
          Elevate Culture and Accelerate <span class="text-secondary-default"
            >Green Software Adoption</span
          >
        </h2>
        <p class="text-primary-light">
          Share knowledge and exchange information with peers and colleagues to
          elevate culture, amplify knowledge-sharing, and accelerate the
          adoption of green software principles, patterns, and tools
        </p>
      </div>
    </div>
  </section>

  {
    closingEventsData.length > 0 && (
      <section class="mt-16 lg:mt-32" id="events">
        <h1 class="text-secondary-default text-4xl lg:text-5xl font-extrabold mb-8">
          Global{" "}
          <span class="text-secondary-lightest text-4xl lg:text-5xl font-extrabold">
            Closing Ceremonies
          </span>
        </h1>
        {/* Card component */}
        <div class="grid gap-6 grid-cols-2">
          {closingEventsData.map((item) => (
            <a href={item.eventLink} target="_blank" rel="noreferrer">
              <GlobalCard date={item.date} time={item.time} />
            </a>
          ))}
        </div>
      </section>
    )
  }

  <section class="py-12 md:py-16">
    <div
      class="flex justify-center md:justify-between md:flex-none md:relative"
    >
      <img
        class="md:absolute lg:bottom-full lg:top-full hidden md:block md:w-52 lg:w-64 md:top-16"
        src="/images/subscribe.svg"
        alt="Subscribe"
      />
    </div>
    <SubscribeCard />
  </section>
  <section class="py-12 md:py-16">
    <h1
      class="mb-2 text-xl md:text-3xl font-bold md:mb-6 text-secondary-lightest text-center"
    >
      Thanks{" "}
      <span class="text-secondary-default"> to our hosts </span>
    </h1>
    <div class="flex justify-center flex-wrap items-center">
      {
        hosts.map((host) => (
          <div class="m-10 opacity-60">
            <img
              class={host.class ? host.class : "h-12"}
              src={host.logo}
              alt={host.name}
            />
          </div>
        ))
      }
    </div>
  </section>
</Layout>
